.block {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: green;

  transition: transform 1s ease;
}

.block.shifted {
  top: 100px;
  left: 100px;
}

.functional.block {
  background-color: red;
}
