.list-item {
  display: inline-block;
  width: 32px;
  height: 32px;

  line-height: 32px;
  text-align: center;

  outline: solid 1px black;

  transition: transform 1s ease;

  cursor: pointer;
  user-select: none;
}
